*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1rem 1fr;
  height: 100vh;
  padding: 1rem;
}

.card {
  display: grid;
  grid-template-rows: 3rem repeat(2, 1rem);
  gap: 5px;
  justify-items: center;
}

.card .card-location {
  color: #0e517e;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.card p span {
  color: #0e517e;
  font-weight: bold;
}

input {
  height: 2rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
}

input:focus {
  outline: none;
  border-color: lightblue;
}

button {
  width: 4rem;
  height: 2rem;
  color: white;
  padding: 2px;
  font-weight: bold;
  border: 1px solid #1373b3;
  border-radius: 5px;
  background-color: #1373b3;
  appearance: none;
}
